---
rhsm_user: {{ rhsm_username }}
rhsm_password: {{ rhsm_password }}
rhsm_pass: '{{ rhsm_password }}'
rhsm_org: {{ rhsm_org }}
{% if rhsm_activationkey %}
rhsm_activationkey: '{{ rhsm_activationkey }}'
{% endif %}
admin_user_password: {{ admin_user_password }}
kvm_vm_root_pwd: '{{ admin_user_password }}'
idm_ssh_user: {{ idm_ssh_user }}
idm_ssh_pwd: '{{ admin_user_password }}'
idm_dm_pwd: {{ idm_dm_pwd }}
idm_admin_pwd: {{ idm_admin_pwd }}
idm_admin_password: '{{ idm_admin_pwd }}'
tower_pg_password: {{ tower_pg_password }}
tower_rabbitmq_password: {{ tower_rabbitmq_password }}